h1,
h2,
h3 {
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.text-right {
  text-align: right;
}

hr {
  border-bottom: 23px ridge #5c98d6;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.btn {
  padding: 10px;
  font-size: 15px;
  color: white;
  background: cadetblue;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.7;
}

.edit_btn {
  text-decoration: none;
  padding: 2px 5px;
  background: #2e8b57;
  color: white;
  border-radius: 3px;
}

.msg {
  margin: 30px auto;
  padding: 10px;
  border-radius: 5px;
  color: #3c763d;
  background: #dff0d8;
  border: 1px solid #3c763d;
  width: 50%;
  text-align: center;
}

.collapsible {
  background-color: #5c98d6;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

.active,
.collapsible:hover {
  background-color: darkblue;
}

.collapsible-content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}
