.main-content {
  flex: 1 0 auto;
  min-height: 100%;
  margin-bottom: -100px;
}

.main-content:after {
  content: "";
  display: block;
  height: 142px;
}

.main-content h1 {
  justify-content: center;
  display: flex;
  font-size: 3.5rem;
}

.main-content img {
  width: 100%;
  margin: 0 auto;
  display: block;
}

.main-content p {
  display: flex;
  font-family: "Fira Sans", sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 23px;
  font-size: 2rem;
  word-wrap: break-word;
  width: 80rem;
}
.main-content br {
  display: block;
  margin-top: 2rem;
}

.main-content-text {
  display: grid;
  justify-content: center;
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}
